<section class="text-center padded waypoint-2 hidden-element-2 bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>What you'll learn.</h2>
        <h4 class="hidden-xs">
          In a world where tech skills are in incredible demand, you need to <b>master technology to be a competitive hire</b>. We'll teach you to build your own web app from scratch and set you up to intern with a top local company for a <b>killer resume</b>. 
        </h4>
        <p class="big">
          No prior coding experience is required for this course. Have coding experience? <br class="visible-xs"> 
          Check out our <%= link_to "iOS course", "/courses/coding-ios" %>.
        </p>
      </div>
    </div>
    <%= render "partials/curricula/coding_web_dev" %>
  </div>
</section>