<section class="text-center padded waypoint-2 hidden-element-2 bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>What you'll learn.</h2>
        <h4 class="hidden-xs">
          Get your first taste of Wall Street—we'll teach you to <b>run with investors and hiring managers alike.</b> Then refine your new skills <b>balancing risk, building models, and investing wisely</b> at an epic internship.
        </h4>
      </div>
    </div>
    <%= render "partials/curricula/finance" %>
  </div>
</section>