<!-- Placeholder for UX course-specific content. See data science for an example -->
<section class="text-center padded waypoint-2 hidden-element-2 bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>What you'll learn.</h2>
        <h4>
          <!-- PLACEHOLDER FOR UX -->
        </h4>
      </div>
    </div>

    <%= render "partials/curricula/ux_design" %>
  </div>
</section>