<h2>After iX</h2>

<div id="accordion6" class="accordion">
	<h3 class="accordion-toggle accordion-heading">What can I put on my resume after completing iXperience?</h3>
	<div class="accordion-inner faq-border">
		<p>By the end of your summer at iXperience, you will have gained valuable, in-demand skills perfectly suited to significantly enhance any resume. Whether your chosen course is supplementary to your degree or very different from it, we have no doubt it will serve to add to your employability.</p>

		<p>On top of this, your internship will signal to prospective employers that you have gone beyond the classroom and learned to apply your new skills in the real world.</p>

		<p>We are committed to helping you succeed, and we will—as we have done with many of our past students—continue to give you advice and help you along your career path long after you've graduated iX and left Cape Town.</p>
	</div>
	<h3 class="accordion-toggle accordion-heading">Have iX students been successful in their careers after the program?</h3>
	<div class="accordion-inner faq-border">
		<p>iXperience is the only summer study-abroad program that combines the three most important aspects of career acceleration: intensive learning, hands-on professional experience, and cultural and personal exploration.</p>
		<p>Read about how iX Alumni are going on to work at some of the world's top companies—including Facebook, Microsoft, Bain, Accenture and McKinsey—and how their experience in Cape Town gave them a significant edge in their careers:</p>
		<ol class="margin-bottom">
			<li><p class="b"><a href="http://blog.ixperience.co.za/how-ix-gave-me-a-competitive-edge/" target="_blank">How iXperience gave me a competitive edge</a></p></li>
			<li><p class="b"><a href="http://blog.ixperience.co.za/interning-with-bain-after-ixperience-a-reflection-on-my-time-in-cape-town/" target="_blank">Interning with Bain after iXperience: A Reflection on my Time in Cape Town</a></p></li>
			<li><p class="b"><a href="http://blog.ixperience.co.za/how-ixperience-helped-me-land-an-internship-at-microsoft/" target="_blank">How iXperience helped me land an internship at Microsoft</a></p></li>
		</ol>
		<p>After iX, you'll come away with proficiency in a new, in-demand skill. You'll have work experience at an influential company with clear, impactful and measurable deliverables that you can show future employers. You'll have integrated yourself into a growing, international network of 400 top students. And, you'll have a changed perspective from immersing yourself into one of the most culturally rich and diverse cities on Earth.</p>
		<a class="scroll-link no-hover less-pad" href="#apply">
			<span class="btn btn-success margin-top">Make yourself stand out. Apply now.</span>
		</a>
	</div>
</div>