<h2>The Application Process</h2>
<div id="accordion7" class="accordion">
  <h3 class="accordion-toggle accordion-heading">When is the application deadline?</h3>
  <div class="accordion-inner faq-border">
    <p>iXperience offers multiple admission cycles for students who would like to join us this summer:</p>
    <p class="b">Early Action:</p>
    <p>Applications submitted by November 22, 2015. Students will be notified by December 15, 2015.</p>
    <hr>
    <p class="b">Regular Decision</p>
    <p>The deadline for regular decision is March 1, 2016 at 11:59pm EST. Students will be notified of their application decision within two weeks after interviewing with us.</p>
    <hr>
    <p class="b">Rolling Decision:</p>
    <p>
      We leave a few spots open per session for applications that come in after the March 1 deadline. We consider these applications on a rolling basis, and acceptance is especially competitive during this phase.
    </p>
    <p class="text-danger"><b>The final deadline for applications on rolling decision is April 15, 2016.</b></p>
  </div>

  <h3 class="accordion-toggle accordion-heading">In summary, what does the application process entail?</h3>
  <div class="accordion-inner faq-border">
    <p>You can apply online through our website by scrolling to the bottom of each page, or by clicking <a class="scroll-link no-hover less-pad" href="#apply"><b>here</b></a>. There are two basic steps within the application process: completing your profile (which contains your personal information) and then completing the application form for your chosen course. This involves a number of questions related to your competency, enthusiasm and general values.</p>

    <p>Once you've submitted your application, you'll be asked to book a 15-minute video interview with us. After your interview, our team reviews your application and will get back to you with a decision on your application within three weeks.</p> 

    <p>If you have any questions before, during or after the application process, please email us at hello@ixperience.co.za or use the chat bubble at the bottom right of each page on our website.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Is there an application fee?</h3>
  <div class="accordion-inner faq-border">
    <p>Nope! It's completely free to apply.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">What is the timeline for applying on rolling decision?</h3>
  <div class="accordion-inner faq-border">
    <p>
      <ol>
        <li><p><b>1-2 hours:</b> Submit your application online</p></li>
        <li><p><b>Within 3 weeks from applying:</b> Video interview with us</p></li>
        <li><p><b>2-3 weeks from your interview:</b> Receive a decision on your application</p></li>
      </ol>
    </p>
    <p>All in all, your application timeline will be maximum 5 weeks, although we try our best to keep the whole process below 4 weeks.</p>    
  </div>

  <h3 class="accordion-toggle accordion-heading">What kind of questions are in the application?</h3>
  <div class="accordion-inner faq-border">
    <p>The point of the application is to help us understand who you are. The questions we ask are not difficult–they have been carefully crafted for you to easily bring across to us who you are as a person. Besides for the basic profile and academic information that you'll quickly fill out in the beginning, you'll also answer a few short-response questions, as well as one 300 to 400-word essay question.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Do I need to upload my transcript in the application?</h3>
  <div class="accordion-inner faq-border">
    <p>Yes, you'll be asked for the most recent of both your transcript and GPA. You can upload a PDF copy of an <b>unoffocial</b> transcript.</p>

    <p>Note: if you're a freshman and currently don't have a college GPA or graded transcript, please specify your high school graduating GPA and upload an unofficial, ungraded copy of your freshman college transcript.</b></p>
  </div>

  <h3 class="accordion-toggle accordion-heading">How important is my GPA if I want to get into this program?</h3>
  <div class="accordion-inner faq-border">
    <p>We use your GPA and transcript to make sure you will be able to keep up with the high standards of the iX classroom. We will never use your GPA as a deciding factor in your application because we don't believe grades tell anything close to the full story. 90% of the application process is dedicated to getting to know you as a person. Acceptance is based on who you are, not on how you do in tests and exams.</p>
    <p>Here's a breakdown of how we weigh the different parts of an application when making admissions decisions:</p>
    <p>
      <ol>
        <li><p>50% on your fit for iXperience based on your responses to questions within the online application.</p></li>
        <li><p>40% on your video interview with us.</p></li>
        <li><p>10% on your performance at school.</p></li>
      </ol>
    </p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Is there a GPA cut-off?</h3>
  <div class="accordion-inner faq-border">
    <p>No. We consider and screen every application on multiple criteria and have no minimum GPA.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Can I apply for a scholarship?</h3>
  <div class="accordion-inner faq-border">
    <p>Yes! We've partnered with Platform45 in Cape Town to offer scholarships of up to $2000 to qualifying students. To apply for this scholarship, simply complete the necessary optional questions during your online application.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Do I need to prepare for the video interview?</h3>
  <div class="accordion-inner faq-border">
    <p>No. The interview is a 10 to 15-minute experience designed to be both engaging and enjoyable. It allows us to get to know you and you to get to know us. It might sound a little cliché, but just relax and be yourself.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Can I apply for more than one course?</h3>
  <div class="accordion-inner faq-border">
    <p>Yes; however, at the moment our application portal only allows you to apply to one course. But, if you are accepted into the first course you apply for there is a very high chance that you will be able to transfer into another course if you'd like, provided there is still space and that you have experience if it's required.</p>

    <p><b>Which of my options should I choose to apply for?</b> That's up to you. We recommend submitting the application for the course you're most interested in. However, if one of your options is Data Science or iOS, rather submit that application as we will need to know your coding background. If both of your options are Data Science and iOS, you can submit either application.</p>

    <div class="padded bg-light-gray">
      <p>You can also choose to do two four-week courses one after the other, and even end off with an internship, making your summer in Cape Town 12 weeks long. Alternatively, you could do only the two courses one after the other, which means your summer will be the standard eight weeks. A discount of $3,000 is provided on both of the former options. This means that the 12 week option (which would theoretically cost $14,500) costs $11,500 and the 8-week option (which would theoretically cost $12,000) costs $9,500.</p>

      <p>If you would like to pursue one of these options, mention it during your video interview and we'll take it from there.</p>
    </div>
  </div>

</div>