<h2>Excursions</h2>

<div id="accordion5" class="accordion">

	<h3 class="accordion-toggle accordion-heading">What are some cultural excursions I can expect to do?</h3>
	<div class="accordion-inner faq-border">
		<p>Each weekend, you will go on cultural excursions and adventures to explore all that South Africa has to offer. Here are some student favorites from last summer:</p>
		
		<ul>
			<li>
				<p><b>Shark cage diving:</b> Early one morning, you and your classmates will board a bus out to Gansbaai, hop on a boat and speed out to great white shark territory. After donning your wetsuit, you’ll hop in a cage and go underwater face-to-face with some of the world’s biggest sharks. To read more about this incredible experience, check out iX alumnus Petter Wehlin’s memories from last summer: <a href="http://blog.ixperience.co.za/swimming-with-sharks" target="_blank">Swimming With Sharks—Petter Wehlin.</a></p>
			</li>
			<li>
				<p><b>Street Markets:</b> Throughout your time at iXperience, you will explore several different Cape Town street markets. From sampling local cuisine to browsing a myriad of artisanal goods, you’ll do it all. Watch this video to learn about iXer Ezinne Nwankwo’s reflections on South African culture as she explores the local markets: <a href="https://www.youtube.com/watch?v=A1u__XLTa34" target="_blank">Exploring Cape Town’s Culture—Ezinne Nwankwo.</a></p>
			</li>
			<li>
				<p><b>Surfing:</b> One of our students’ favorite ways to unwind after a full day of class is to hit the local beaches and surf. Don’t worry if you’ve never surfed before—our staff will teach you everything you need to know. Read about Allen Zhao’s experience learning to surf last summer, here on our blog: <a href="http://blog.ixperience.co.za/riding-on-waves-at-ix-allen-zhao/" target="_blank">Riding on Waves at iX—Allen Zhao.</a></p>
			</li>
		</ul>

		<p>You’ll also hike gorgeous mountains, go wine tasting, tour the Kirstenbosch gardens, visit Robben Island, learn yoga and dance, braai (Afrikaans for “barbecue”) with the locals, and so much more. To get a glimpse of all of these adventures through the eyes of one of our alumni, check out this video: <a href="https://www.youtube.com/watch?v=5CNho3TQ" target="_blank">iXperience 2014 Video—Brandon Taleisnik</a></p>
	</div>
	<h3 class="accordion-toggle accordion-heading">Do I have to go on the excursions?</h3>
	<div class="accordion-inner faq-border">
		<p>None of the planned excursions are mandatory. The weekends are yours, and while we will always have trips and events planned for you, you are free to do whatever you like.</p>
	</div>
	<h3 class="accordion-toggle accordion-heading">Are there excursions every weekend?</h3>
	<div class="accordion-inner faq-border">
		<p>iXperience will organize weekend excursions for you on each of your first four weekends. During your internship, you are free to organize independent weekend trips with your friends.</p>
	</div>
	<!-- <h3 class="accordion-toggle accordion-heading">What is the nightlife in Cape Town like?</h3>
	<div class="accordion-inner faq-border">
		<p>Cape Town is home to many of the country’s hottest bars and clubs, making for an exciting night life. In past sessions, students have enjoyed after-class cocktails at <a href="http://cafecaprice.co.za/" target="_blank">Cafe Caprice</a>, Friday night bar crawls on <a href="http://www.capetown.travel/attractions/entry/Long_Street_at_Night" target="_blank">Long Street</a>, dancing at <a href="http://www.tigertiger.co.za/" target="_blank">Tiger Tiger</a>, and lots more.</p>
	</div> -->

</div>