<h2>The Class</h2>
<div id="accordion2" class="accordion">
  <h3 class="accordion-toggle accordion-heading">Who will I be taught by?</h3>
  <div class="accordion-inner faq-border">
    <p>We have a rigorous selection process for our instructors and teaching assistants and thus our teaching staff will not be finalized until February.</p>
    <p>To get an idea of the types of teachers you will have, watch the video below and then read some of the blog posts that follow:</p>
    <div class='videowrapper'>
      <iframe width="100%" height="400" src="//www.youtube.com/embed/2tmYnqnHdVQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <br />
    <p>Read some of our blog posts about iX's learning environment and lecturers, written by both past students and teachers:</p>
    <ul>
      <li><p><a href="http://salman.ixperience.co.za" target="_blank">What the class of 2014 had to say about Salman Ansari (iX Code Head Lecturer 2014) at the end of the course</a></p></li>
      <li><p><a href="http://blog.ixperience.co.za/inside-the-ix-classroom/" target="_blank">Blog post: Inside the iX Classroom - <em>Amandeep Saini, iX '14 Student</em></a></p></li>
      <li><p><a href="http://blog.ixperience.co.za/a-teaching-experience-to-remember/" target="_blank">Blog post: A teaching experience to remember - <em>Rafi Khan, iX '14 Teacher</em></p></a></li>
    </ul>
  </div>
  <h3 class="accordion-toggle accordion-heading">Is class lecture-based like at school?</h3>
  <div class="accordion-inner faq-border">
    <p>The iX course is a combination of traditional lecture-style classes, collaborative group projects, and independent exercises. A typical weekday features two 90-minute lectures, each followed by a series of independent or paired exercises designed to solidify concepts taught during lectures. Additionally, students spend time each day working in small groups on longer-term projects. This hands-on approach has proven to be very successful in the past, and gives students creative liberty to research and explore new topics as they work through assignments.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">Will I be working alone, or in a group? </h3>
  <div class="accordion-inner faq-border">
    <p>You’ll have the chance to experience both independent and group exercises. After each lecture you will be assigned a series of activities to work on either by yourself or in a group, with the sole goal of solidifying the concepts you just learned.</p> 
    <p>In addition to these smaller exercises, you will get to work in teams to complete a number of larger projects throughout the course.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">What is my weekly class schedule?</h3>
  <div class="accordion-inner faq-border">
    <p>Each week you will have lecture twice a day, Monday through Friday. Depending on which session and course you're in, morning lectures run from either 9am to 10:30am, or 10:30am to 12pm, while afternoon lectures run from either 2pm to 3:30pm, or 3:30pm to 5pm. Class times are subject to change.</p>
    <p>The length of each lecture may vary depending on the complexity of the day’s material, but you can count on several exercises to keep you engaged after class each day.</p>
    <p>iXperience's courses are intense, but we strive to ensure students have ample time to explore the city and culture around them. Our teaching staff adapts to each class and ensures your work load is always immersive enough to be interesting while still being manageable.</p>
  </div>

  <h3 class="accordion-toggle accordion-heading">What if I’m struggling during the course?</h3>
  <div class="accordion-inner faq-border">
    <p>The iX curriculum is designed to push you from day one, so we fully expect that you will encounter lots of questions and even experience some difficulties along the way— that’s okay! We have several teaching assistants on duty day and night to answer your questions and help you with difficult material. Additionally, the teaching staff organize extra workshops each week to revise complex material. The topics covered in these workshops is set by the students based on their needs.</p>
    <p class="b">If you come ready to work hard, we will put in all the time and energy you need to achieve incredible results.</p>
    <p>Read this <a href="http://blog.ixperience.co.za/pushing-boundaries/" target="_blank">inspiring article</a> on our blog written by iX 2014 alumna Insesha Premaratne about her challenging but rewarding experience learning to code at iX.</p>
  </div>
</div>