<section class="text-center padded margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="rounded">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h2 class="margin-bottom">Interested?</h2>
              <a class="manual-optin-trigger" data-optin-slug="usbncvvutirfciv1">
                <p class="big btn btn-primary btn-lg full-width">
                  Send the full infopack to my email!
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>