<div class="apply-bar hidden-xs text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>
          Last chance! Applications for Session 1 and 2 close April 15.
          &nbsp; &nbsp;
          <a href="http://students.ixperience.co.za/embark" class="btn btn-sm btn-success">Apply with Facebook</a>
        </h4>
      </div>
    </div>
  </div>
</div>