<div class="row hidden-xs">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h4 class="margin-bottom">Know exactly what you'll learn:</h4>
    <a class="manual-optin-trigger" data-optin-slug="<%= @course_data[:optin_code] %>">
      <p class="big btn btn-primary btn-lg full-width">
        Click here to download the detailed <%= course %> curriculum
      </p>
    </a>
  </div>
</div>