<footer class="container footer-distributed">
  <div class="row footer text-center">
    <div class="col-sm-4 col-sm-offset-4">
      <%= image_tag "logos/ix-compact-white", class: "footer-logo" %>
      <p>capital@ixperience.co.za</p>
      <hr width="170px" />
      <p class="small">
        <span class="text-gray">Copyright &copy; 2016 iXperience</span>
      </p>
    </div>
  </div>
</footer>