<header class="navbar navbar-fixed-top hidden-xs">
  <div class="container">
    <div>
      <%= link_to "", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li>
        <%= link_to "Pitch Competition", pitch_path %>
      </li>
      <li>
        <%= link_to "Investment Process", investment_process_path %>
      </li>
      <li>
        <%= link_to "Who we are", about_path %>
      </li>
      <!-- <li>
        <span>
          <a class="scroll-link nav-btn btn btn-success" href="#apply">Apply</a>
        </span>
      </li>
    -->
    </ul>
  </div>
</header>