<section class="most-height bg-fixed bg-consulting-main">
  <div class="bg-overlay"></div>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h2>Calling all Startups in South Africa</h2>
    <hr style="width: 60%">
    <h3>Pitch your business idea to win funding from Brookwood Capital</h3>
    <h5><strong>When:</strong> 17 July, 2017 at 6:30 PM</h5>
    <h5><strong>Location:</strong> Workshop 17, V&amp;A Waterfront, iX Student Lounge </h5>
    <h5><strong>Deadline to apply:</strong> 12 July, 2017 at 11:59 PM SAST</h5>
  </div>
</section>

<section class="text-center padded bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1 waypoint-1">
        <h2>Who are we?</h2>
        <h4>We are a young and dynamic team that is quite aggressive in our investment approach. We are not afraid to take a well-researched risk. We focus on finding the “diamonds in the rough,” finding investment opportunities that align with our personal interests. We focus on high potential, purpose driven companies in early stages of development - not just tech start ups. </h4>
        <h4>Based on each investment opportunity we will make a call on how much we will be investing into prospective business ventures. The goal is to provide fledgling companies with capital in addition to business support in order to culminate success.</h4>
      </div>
    </div>
  </div>
</section>

<section class="text-center padded">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1 waypoint-1">
        <h2>Who are we looking for?</h2>
        <h4>We are looking for young startups and entrepreneurs looking to kick-off their business ideas. This event is open to individuals with startup business ideas and businesses still in the preliminary rounds of development.</h4>
      </div>
    </div>
  </div>
</section>

<section class="text-center bg-white padded">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1 waypoint-1">
        <h2>Ready to apply?</h2>
        <h4>Click below to start!</h4>
        <h6>Application deadline is July 12th at 11:59 PM SAST. <br>We will get back to you by the end of the day on July 13th in order to invite you to our Pitch Day event on July 17th.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= link_to "https://docs.google.com/a/brookwoodcapital.co/forms/d/e/1FAIpQLSevSYCpAPwfRmcDUfTFOTO3wMfhTGd1j_dJhwzHV36YDyr_bg/viewform?usp=sf_link", class: "big btn btn-success btn-lg btn-block", target: 'blank' do %>
        <h4 class="no-margin-top no-margin-bottom b">Start Application</h4>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="text-center bg-fixed bg-home-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">Don't be in a rush to <span class="emphasis">get big</span>. Be in a rush to have a <span class="emphasis">great product</span>.</h4>
    </div>
  </div>
</section>  