<!-- Internships -->
<section class="text-center padded hidden-element-2 waypoint-2"> 
  <div class="container">     
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>
          Don't just learn.
          <br class="visible-xs">
          Do something.
        </h2>
        <h4 class="margin-bottom">
          After your course, you'll <b>revamp your resume</b> with an internship at a top local company. Based on your class performance and fit, we'll match you with an opportunity to <b>maximize your impact and professional growth</b>. 
        </h4>
      </div>
    </div>
  </div>
</section>