<section class="most-height bg-fixed bg-<%= ad %>-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Learn to Code &amp; Intern Abroad.</h1>
    <h3>4-week course. 4-week internship.</h3>
    <h3>The most critical skill of the 21st century.</h3>
    <h3>All in Cape Town, South Africa.</h3>
  </div>
</section>