<!-- Example: This is the top section for the ad with FB ID '123' -->
<!-- Duplicate this template to edit. View at /courses/data-science?a=123 -->
<section class="most-height bg-fixed bg-<%= ad %>-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Learn Data Science &amp; Intern Abroad.</h1>
    <h3>4-week course. 4-week internship.</h3>
    <h3>The most in-demand skill of the 21st century.</h3>
    <h3>All in Cape Town, South Africa.</h3>
  </div>
</section>