<!-- Example: This is the top section for the ad with FB ID '123' -->
<!-- Duplicate this template to edit. View at /courses/data-science?a=123 -->
<section class="most-height bg-fixed bg-<%= ad %>-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Learn Data Science in Cape Town this summer</h1>
    <h3>4 week course. 4 week internship.</h3>
    <h3>Harness the power of data.</h3>
    <h3>Develop and convey deep insights.</h3>
  </div>
</section>