<section class="most-height bg-fixed bg-<%= ad %>-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>An unimaginable summer</h1>
    <h3>4 week course. 4 week internship.</h3>
    <h3>Just don't even think about it come.</h3>
    <h3>Now.</h3>
  </div>
</section>