<section class="text-center padded bg-white">
  <a class="anchor" id="about"></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 margin-bottom">
        <h2>The perfect <br class="visible-xs">summer abroad.</h2>
        <h4 class="hidden-xs">
          iXperience is the the only summer study abroad program that combines the 3 most important aspects of career acceleration: intensive learning, hands-on professional experience, and cultural and personal exploration.
        </h4>
        <h4 class="hidden-xs">
          Take <b>immersive classes</b> on high-demand skills.
          Drive real-world impact with an <b>internship</b> at a local company. Discover the world's most beautiful city. 
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="text-center padded margin-top waypoint-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-learn' %>
            <div class="text up">LEARN AN<br>IN-DEMAND SKILL</div>
          </div>
          <div class="pillar-inner">
            <dl>
              <dt>4 weeks of intensive instruction</dt>
              <dd>Taught by industry experts</dd>
              <dd>Collaborative learning</dd>
              <dd>Practice, practice, practice</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success">Peek into our classrooms</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-impact' %>
            <div class="text up">INTERN AT<br>A TOP COMPANY</div>
          </div>
          <div class="pillar-inner">
            <dl>
              <dt>4 weeks with companies like</dt>
              <dd>Uber</dd>
              <dd>Groupon</dd>
              <dd>Accenture</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success">More about impact at iX</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-explore' %>
            <div class="text up">EXPLORE AN<br>INCREDIBLE CITY</div>
          </div>
          <div class="pillar-inner">
            <dl>
              <dt>The daily ritual</dt>
              <dd>Be active: surf, hike, dive, fly</dd>
              <dd>Discover Cape Town's secrets</dd>
              <dd>Experience the local lifestyle</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success" >Discover Cape Town</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>