<section class="text-center padded bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="rounded">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h4 class="margin-bottom">We figured that you'd be interested.</h4>
              <a class="manual-optin-trigger" data-optin-slug="<%= @course_data[:optin_code] %>">
                <p class="big btn btn-primary btn-lg full-width">
                  Get more info
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>