<section class="text-center bg-fixed bg-landing-common-bottom most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote"><span class="emphasis">It has been a pleasure working with iXperience interns.</span> Great attitude, good questions and ultimately useful progress on important content.</h4>
      <p class="author">Wayne Borchardt – Managing Director, Accenture</p>
    </div>
  </div>
</section>