<section class="text-center bg-white padded waypoint-2 hidden-element-2">
  <div class="container">
    <div class="row margin-bottom">
      <div class="why-ix-img">
        <%= image_tag 'people/robert-krabek', class: "small" %>
      </div>
      <div class="why-ix-quote bg-light-gray text-left no-min-height">
        <p class="bigger">
          <em>
            "iX was a model learning experience striking the perfect balance between work and play, <b>maximizing learning while preventing burnout</b>. I met incredible people and made lifelong friends while working alongside some truly brilliant minds."
          </em>
        </p>
        <p>- Robert Krabek, Harvard 2015, iX 2015</p>
      </div>
    </div>
  </div>
</section>