<section class="text-center bg-fixed bg-landing-common-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">"iX was an opportunity to explore a captivating country, develop practical technical skills, and <span class="emphasis">leave behind the comfort of the familiar</span> at the edge of the world."</h4>
      <p class="author">Alec Ortiz, Stanford '17, iX '15</p>
    </div>
  </div>
</section>